$blue:         #082471;
$blue-light:   #274083;
$blue-dark:    #101b3a;
$red:          #f96156;
$pink:         #fbe2d9;
$pink-dark:    #f0c9c8;
$white:        #fff;
$black:        #000;

$gray:         #e1e4ed;
$gray-bg:      #f8fafc;
$gray-light:   #f7f8fa;
$gray-lighter: #f0f1f6;
$gray-lightest: #ebeff2;
$gray-dark:    #c7ccdd;
$gray-darker:  #777d8e;
$shadow-color: #f1f1f1;

$colors: (
        'blue': $blue,
        'blue-light': $blue-light,
        'blue-dark': $blue-dark,
        'red': $red,
        'pink': $pink,
        'pink-dark': $pink-dark,
        'white': $white,
        'black': $black,
        'gray': $gray,
        'gray-light': $gray-light,
        'gray-lighter': $gray-lighter,
        'gray-lightest': $gray-lightest,
        'gray-dark': $gray-dark,
        'gray-darker': $gray-darker,
        'shadow-color': $shadow-color
);

