@font-face {
  font-family: 'Gellix';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('../../fonts/Gellix-Regular.woff2') format('woff2');
}

body {
  color: var(--blue);
  font-family: var(--font-primary);
  font-size: var(--font-size-normal-plus);
  line-height: var(--base-line-normal);
}

h1 {
  font-size: 36px;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  margin-bottom: 32px;

  @media (min-width: 1024px) {
    font-size: var(--font-size-largest);

    &.small {
      font-size: var(--font-size-larger);
    }

    &.medium {
      font-size: 64px;
    }

    &.large {
      font-size: 82px;
    }
  }
}

h2 {
  font-size: var(--font-size-large);
  line-height: var(--line-height-medium);
  margin-bottom: 40px;

  @media (min-width: 1024px) {
    font-size: var(--font-size-larger);
    line-height: var(--line-height-normal);
  }
}

h3 {
  font-size: var(--font-size-medium);
  margin-bottom: 16px;

  @media (min-width: 1024px) {
    margin-bottom: 24px;
  }

  &.medium {
    @media (min-width: 1024px) {
      font-size: var(--font-size-large);
    }
  }

  &.large {
    font-size: 46px;

    @media (min-width: 1024px) {
      font-size: var(--font-size-larger);
    }
  }
}

h4 {
  font-size: var(--font-size-medium);
}

h5 {
  font-size: var(--font-size-normal-plus);
}

h6 {
  font-size: var(--font-size-normal);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-tertiary);
}

p, ol {
  color: var(--blue-dark);
  line-height: var(--line-height-larger);
  margin: 0 0 32px 0;

  &.tiny {
    font-size: var(--font-size-tiny);
  }

  &.small {
    font-size: var(--font-size-normal);
    line-height: var(--line-height-large);
  }

  &.medium {
    font-size: var(--font-size-medium);
  }

  &.large {
    color: var(--blue);
    font-size: var(--font-size-medium);
    line-height: var(--line-height-large);
  }
}

small {
  font-size: var(--font-size-small);
}

b,
strong {
  font-family: var(--font-tertiary);
  font-weight: var(--font-weight-bold);
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}