.alert {
  display: block;
  line-height: 28px;
  background: $gray-light;
  padding: 20px;
  width: 100%;
  margin: 20px 0 40px;

  &-info {
    border-top: 1.5px solid $blue;
    color: $blue;
  }

  &-warning {
    border-top: 1.5px solid $pink;
    color: $blue;
  }

  &-danger {
    border-top: 1.5px solid $red;
    color: $red;
  }
}