.alert {
  display: block;
  line-height: 28px;
  background: var(--gray-light);
  padding: 20px;
  width: 100%;
  margin: 20px 0 40px;

  &-info {
    border-top: 1.5px solid var(--blue);
    color: var(--blue);
  }

  &-warning {
    border-top: 1.5px solid var(--pink);
    color: var(--blue);
  }

  &-danger {
    border-top: 1.5px solid var(--red);
    color: var(--red);
  }
}