.bubble {
  display: flex;
  font-family: var(--font-secondary);
  color: var(--white);
  background: var(--red);
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-bottom: 24px;
  border-radius: 50%;

  &.-active {
    background: var(--blue) !important;
    color: var(--white) !important;
  }

  &.-gray {
    background: var(--gray);
    color: var(--blue)-dark;
  }

  &.-blue {
    background: var(--blue);
    color: white;
  }

  &.-red {
    background: var(--red);
    color: white;
  }

  &.-arrow-right {
    &:after {
      content: '';
      background: url('#{$path-images}www/ico-arrow-right-small.svg') no-repeat;
      left: 0;
      top: 50%;
      width: 25px;
      height: 25px;
    }
  }

  &-title {
    font-family: var(--font-tertiary);
    margin-bottom: 12px;
  }
}
