.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 100%;
  word-wrap: break-word;
  background-color: var(--gray-light);

  &-blue {
    background: var(--blue);
    color: var(--white);

    .card-title,
    .card-header,
    .card-features,
    .card-footer a,
    .list-check,
    p {
      color: var(--white);
    }
  }

  &-red {
    color: var(--white);
    background: var(--red);

    p,
    .card-title,
    .list-check {
      color: var(--white);
    }
  }

  &-pink {
    background: var(--pink);
  }

  &-darkpink {
    background: var(--pink)-dark;
  }

  &-gray {
    background: var(--gray-dark);
  }

  &-lightgray {
    background: rgba(var(--gray-dark), .4);
  }

  .card-image {
    width: 100%;
  }

  .card-title {
    font-family: var(--font-tertiary);
    font-weight: var(--font-weight-bold);
    margin-bottom: 20px;

    h3 {
      line-height: 34px;
    }
  }

  .card-body {
    flex: 1 1 auto;
    padding: 40px;

    .flex-center {
      display: block;

      @media (min-width: 768px) {
        display: flex;
      }

      h4 {
        margin-bottom: 24px;

        @media (min-width: 768px) {
          margin-bottom: 0;
        }
      }
    }
  }

  .card-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 40px;
  }

  &-recommend {
    height: auto;
    background: var(--white);
    box-shadow: 0 8px 14px 0 var(--shadow-color);

    @media (min-width: 768px) {
      flex-direction: row;
    }

    .bubble {
      min-width: 48px;
    }

    .card-body {
      padding: 28px;
    }
  }
}

.card-product {
  font-size: var(--font-size-medium);

  p {
    line-height: var(--line-height-large);
  }

  .card-title {
    font-size: var(--font-size-large);
  }

  @media (min-width: 768px) {
    .card-body,
    .card-footer {
      padding: 56px;
    }

    .card-title {
      font-size: var(--font-size-larger);
    }
  }

  &-alt {
    .card-body {
      padding-bottom: 0;
    }

    .card-footer {
      padding-top: 0;
      justify-content: flex-end;
    }
  }
}

.card-referral {
  font-size: var(--font-size-small);
  padding: 24px;
  background: var(--pink);
  margin-bottom: 25px;
  border-radius: 3px;
  max-width: 550px;

  @media (min-width: 1024px) {
    max-width: 100%;
  }
}

.card-deck {
  flex-direction: column;
  flex-basis: 100%;
  display: flex;
  position: relative;
  margin: -24px;

  @media (min-width: 768px) {
    flex-direction: row;
    margin: 0;
  }

  @media (min-width: 1024px) {
    margin-bottom: 0;
  }

  .card {
    flex: 1;
    border-radius: 0;
    margin: 0;
    transition: top ease 0.2s;
    max-width: none;
    height: auto;
    top: 0;

    @media (min-width: 768px) {
      border-radius: 10px;
      max-width: 230px;
      margin: 0 0 32px 0;
    }

    @media (min-width: 1024px) {
      height: 300px;
    }

    &:hover {
      top: 0;

      @media (min-width: 768px) {
        top: -5px;
      }

      .link-more {
        bottom: -60px;
      }
    }

    &-body {
      padding: 16px 24px;
      display: flex;
      flex-direction: row;

      @media (min-width: 768px) {
        display: block;
      }

      .card-text {
        width: 256px;

        @media (min-width: 768px) {
          width: 100%;
        }

        p {
          margin: 0;

          @media (min-width: 768px) {
            margin: 0 0 32px 0;
          }
        }
      }

      .btn {
        display: none;

        @media (min-width: 768px) {
          display: inline-block;
        }
      }

      .bubble {
        display: flex;
        min-width: 48px;
        margin-left: auto;

        @media (min-width: 768px) {
          display: none;
        }
      }

      @media (min-width: 768px) {
        padding: 40px;
      }

      &:hover,
      &:focus {
        p {
          color: rgba(var(--white), .5);
        }

        .btn-blue {
          background: darken(var(--blue), 8%);
          color: var(--white);
        }

        .btn-red {
          background: darken(var(--red), 8%);
        }
      }
    }

    &-lightgray {
      background: #697AA8;
      z-index: 1;
      color: var(--white);
    }

    &-gray {
      background: #435892;

      @media (min-width: 768px) {
        margin: 16px -25px 32px;
      }
    }
  }

  .link-more {
    font-size: var(--font-size-small);
    left: 24px;

    @media (min-width: 768px) {
      position: absolute;
      bottom: -30px;
      left: 0;
    }

    @media (min-width: 1440px) {
      right: 40px;
      left: auto;
    }
  }
}
