.plans-comparison {
  font-size: var(--font-size-tiny);
  margin: 16px;
  grid-column: wrapper-start / wrapper-end;

  @media (min-width: 768px) {
    margin: 0;
  }

  @media (min-width: 1024px) {
    display: grid;
    column-gap: 32px;
    grid-template-columns: [start] repeat(16, minmax(0, 40px)) [end];
  }

  &-header {
    display: none;

    @media (min-width: 1024px) {
      display: grid;
      top: 100px;
      grid-gap: 32px;
      grid-template-columns: [start] repeat(16, minmax(0, 40px)) [end];
      grid-column: start / end;
    }

    .plans-comparison-cell {
      border: none;
    }
  }

  &-heading {
    display: flex;
    color: var(--blue);
    font-family: var(--font-tertiary);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-normal);
    margin-bottom: 8px;
  }

  &-row {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--gray-lightest);

    @media (min-width: 1024px) {
      display: grid;
      grid-gap: 32px;
      grid-template-columns: [start] repeat(16, minmax(0, 40px)) [end];
      grid-column: start / end;
    }
  }

  &-cell {
    color: var(--blue)-dark;
    display: flex;
    position: relative;
    line-height: var(--line-height-large);
    flex-direction: column;
    flex: 1 1 100%;
    padding: 24px 0 16px;

    &:before {
      content: attr(data-plans-name);
      position: absolute;
      color: var(--red);
      text-transform: uppercase;
      top: 0;
    }

    &:nth-child(1) {
      color: var(--blue);
      flex-basis: 100%;
      text-align: left;
      align-items: flex-start;
      padding: 16px 0;
      border-left: none;
    }

    @media (min-width: 768px) {
      padding: 16px;
      flex-basis: 50%;
    }

    @media (min-width: 1024px) {
      flex-basis: auto;
      align-items: center;
      text-align: center;
      border-left: 1px solid var(--gray-lightest);

      &:before {
        display: none;
      }

      &:nth-child(1) {
        grid-column: 1/4;
        padding: 16px 0;
      }

      &:nth-child(2) {
        grid-column: 4/8;
        border-left: none;
      }

      &:nth-child(3) {
        grid-column: 8/11;
      }

      &:nth-child(4) {
        grid-column: 11/14;
      }

      &:nth-child(5) {
        grid-column: 14/end;
      }

      &.col-span-3 {
        grid-column: 8/end;
        padding: 16px 25%;
      }

      &.col-span-2 {
        grid-column: 11/end;
        padding: 16px 12.5%;
      }
    }

    .box-list {
      margin-bottom: 0;

      li {
        text-align: left;
      }
    }
  }

  &-cell-full-width {
    font-size: var(--font-size-tiniest);
    line-height: var(--line-height-normal);
    align-items: flex-start;
    padding: 16px 0;
    text-transform: uppercase;
    letter-spacing: .8px;

    &:nth-child(1) {
      color: var(--red);
      grid-column: start / end;
    }

    @media (min-width: 768px) {
      padding: 16px;
    }
    @media (min-width: 1024px) {
      padding: 16px 0;
    }
  }

  &-pricing {
    color: var(--red);
    font-size: var(--font-size-normal-plus);
    margin-bottom: 16px;

    @media (min-width: 1024px) {
      margin-bottom: 24px;
    }

    .pricing-extra {
      color: var(--gray-darker);
      font-size: var(--font-size-tiny);
    }
  }

  &-cta {
    margin-top: auto;
  }
}
