a {
  color: var(--blue);

  &:hover,
  &:focus {
    text-decoration: none;
    color: rgba(var(--blue), .5);
  }

  &.link-red {
    color: var(--red);
    padding-bottom: 3px;
    border-bottom: 1px solid var(--pink);

    &:hover,
    &:focus {
      color: rgba(var(--red), .5);
      border-bottom-color: rgba(var(--pink), .5);
    }
  }

  &.link-gray {
    color: var(--gray-dark);
    padding-bottom: 3px;
    border-bottom: 1px solid var(--gray);

    &:hover,
    &:focus {
      color: rgba(var(--red), .5);
      border-bottom-color: rgba(var(--pink), .5);
    }
  }

  &.link-more {
    position: relative;
    font-family: var(--font-tertiary);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-normal-plus);
    padding: 20px 40px 20px 0;
    white-space: nowrap;

    @media (min-width: 360px) {
      font-size: var(--font-size-medium);
    }

    &:after {
      content: '';
      position: absolute;
      background: url('#{$path-images}www/icons/ico-arrow-right-blue.svg') no-repeat;
      right: 0;
      top: 50%;
      width: 20px;
      height: 14px;
      transform: translateY(-25%);
    }

    &:hover,
    &:focus {
      &:after {
        opacity: .5;
      }
    }
  }

  &.link-back-article {
    position: relative;
    color: var(--blue);
    font-weight: var(--font-weight-medium);
    padding-left: 35px;
    white-space: nowrap;

    &:after {
      content: '';
      position: absolute;
      background: url('#{$path-images}www/icons/ico-arrow-left-darkblue.svg') no-repeat;
      left: 0;
      top: 50%;
      width: 25px;
      height: 25px;
      transform: translateY(-40%);
    }

    &:hover,
    &:focus {
      color: rgba(var(--blue), .5);

      &:after {
        opacity: .5;
      }
    }
  }

  &.link-resend {
    position: relative;
    color: var(--red);
    font-family: var(--font-tertiary);
    padding-right: 30px;
    white-space: nowrap;

    &:after {
      content: '';
      position: absolute;
      background: url('#{$path-images}www/icons/ico-arrow-right-red.svg') no-repeat;
      right: 0;
      top: 50%;
      width: 20px;
      height: 14px;
      transform: translateY(-40%);
    }
  }

  &.link-arrow {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;

    &:after {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      background: url('#{$path-images}www/icons/ico-arrow-right-blue-alt.svg') no-repeat;
    }

    &.-red:after {
      background-image: url('#{$path-images}www/icons/ico-arrow-right-red-alt.svg')
    }
  }

  &.-white {
    color: var(--white);

    &:hover,
    &:focus {
      color: rgba(var(--white), .5);
    }

    &:after {
      background-image: url('#{$path-images}www/icons/ico-arrow-right-white.svg');
    }
  }

  &.-red {
    color: var(--red);

    &:hover,
    &:focus {
      color: rgba(var(--red), .5);
    }

    &:after {
      background-image: url('#{$path-images}www/icons/ico-arrow-right-red.svg');
    }
  }

  &.-small {
    font-size: var(--font-size-normal-plus);
  }
}

.link-back {
  position: relative;
  color: var(--blue);
  font-weight: var(--font-weight-medium);
  padding-right: 25px;
  white-space: nowrap;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    background: url('#{$path-images}www/icons/ico-arrow-left-darkblue.svg') no-repeat;
    right: 0;
    top: 50%;
    width: 25px;
    height: 25px;
    transform: translateY(-40%);
  }

  &.-white:after {
    background-image: url('#{$path-images}www/icons/ico-arrow-left-white.svg')
  }
}
