ol {
  &.numeric-list {
    padding: 0;

    li {
      display: table;
      counter-increment: item;
      position: relative;
      padding: 15px 0;

      &:before {
        content: counters(item, ".")".";
        display: table-cell;
        padding-right: 10px;
      }

      &:first-child {
        counter-reset: item;
      }
    }
  }

  &.list-bubble {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      display: flex;
      position: relative;
      align-items: center;
      padding: 9px 0 9px 4rem;
      margin: 0 0 1rem;
      counter-increment: item;

      &:before {
        content: counter(item);
        display: flex;
        position: absolute;
        font-family: $font-tertiary;
        color: $black;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: 48px;
        height: 48px;
        background: $gray-dark;
        border-radius: 50%;
      }

      &.list-bubble-pink {
        &:before {
          background: $pink-dark;
        }
      }
    }
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    padding: 15px 0;
  }

  &.list-check {
    color: $blue-dark;
    line-height: $line-height-larger;

    & > li {
      position: relative;
      padding: 15px 0 15px 40px;

      &:before {
        content: "";
        position: absolute;
        top: 30px;
        left: 0;
        width: 25px;
        height: 25px;
        background: url('#{$path-images}www/icons/icon-checkmark.svg') no-repeat;
        background-size: cover;
        transform: translateY(-50%);
      }
    }

    &.-white {
      & > li:before {
        background-image: url('#{$path-images}www/icons/icon-checkmark-white.svg');
      }
    }
  }

  &.box-list {
    margin: 25px 0;
    line-height: $line-height-larger;

    & > li {
      position: relative;
      padding: 15px 0 15px 26px;
      color: $blue-dark;

      &:before {
        content: "";
        position: absolute;
        top: 25.25px;
        left: 0;
        width: 10px;
        height: 10px;
        background: $red;
      }

      a {
        color: $red;
        padding-bottom: 3px;
        border-bottom: 1px solid $pink;

        &:hover,
        &:focus {
          color: rgba($red, .5);
          border-bottom-color: rgba($pink, .5);
        }
      }
    }
  }
}
