.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;

  span {
    font-size: $font-size-tiny;
    position: absolute;
    width: 220px;
    padding: 15px 0;
    text-transform: uppercase;
    text-align: center;
  }

  &-small {
    span {
      font-size: $font-size-tiniest;
      width: 115px;
      padding: 5px 0;
      letter-spacing: 2px;
    }
  }

  &.-white {
    span {
      background-color: $white;
      z-index: 1;
    }
  }
  &.-blue {
    span {
      background-color: $blue;
      z-index: 1;
      color: $white;
    }
  }
}

.ribbon-top-right {
  top: -20px;
  right: -20px;

  span {
    left: 45px;
    top: 35px;
    transform: rotate(45deg);
  }
}