table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table-features {
  width: 100%;

  th,
  td {
    color: $white;
    padding: 20px 40px;
  }

  th {
    font-weight: $font-weight-normal;
    background: #0a2264;
    text-align: left;

    @include respond-to('small') {
      width: 360px;
    }
  }

  td {
    background: $blue;
    text-align: center;
    vertical-align: middle;
  }

  thead {
    th, td {
      padding-top: 70px;
    }
  }

  tbody {
    tr:last-child {
      th, td {
        padding-bottom: 120px;
      }
    }
  }
}

.table-pricing {
  margin: 16px 0;
  grid-column: wrapper-start / wrapper-end;

  @include respond-to('small') {
    margin: 0;
  }

  .row {
    border-bottom: 1px solid $gray-lightest;
    margin: 0;
    flex-wrap: nowrap;

    &-heading {
      .cell {
        color: $blue;

        @include respond-to('small') {
          border-top: 1px solid $gray-lightest;
        }

        @include respond-to('medium') {
          display: flex;
          flex-direction: column;
          height: auto;
          padding: 32px 24px 56px;
        }

        &:first-child {
          justify-content: flex-end;
        }

        &-heading {
          @include respond-to('medium') {
            display: block;
            color: $blue;
            font-weight: $font-weight-bold;
            padding-bottom: 56px;
            height: auto;
            text-align: left;
          }
        }
      }

      .information {
        display: none;

        @include respond-to('medium') {
          display: flex;
          flex-direction: column;
          height: 100%;
        }
      }

      .name {
        font-size: $font-size-small;
        font-weight: $font-weight-bold;

        @include respond-to('medium') {
          font-size: $font-size-medium;
          font-weight: $font-weight-normal;
          line-height: $line-height-largest;
        }
      }

      .pricing {
        margin: auto 0 0;
      }

      .price {
        position: relative;
        font-size: $font-size-medium;
        font-weight: $font-weight-bold;
        line-height: $line-height-large;
        margin-top: 24px;

        @include respond-to('semi-large') {
          font-size: $font-size-large;
        }
      }

      .description,
      .price-extra,
      .cell-heading-extra {
        font-size: $font-size-tiny;
        color: $gray-darker;
        line-height: $line-height-larger;
        font-weight: $font-weight-normal;
      }

      .price-extra {
        position: absolute;
        line-height: $line-height-normal;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
      }

      .cta {
        padding: 36px 0 0;
      }
    }

    &-category {
      .cell:first-child {
        color: $blue;
        background: $gray-bg;
        font-size: $font-size-small;
        text-align: left;
        max-width: 100%;
        margin: 0;
        padding: 0 24px;
      }
    }

    &-discount {
      display: none;
      border: none;

      @include respond-to('medium') {
        display: flex;
      }

      &.-popular {
        strong {
          flex: 3;
          color: $white;
          background: $red;
          border: none;
          text-transform: uppercase;
        }

        .cell:last-child {
          flex: auto;
          background: none;
        }
      }

      .cell {
        padding: 0;
        height: 32px;
        line-height: 32px;
        border: none;

        &:last-child {
          flex: 3;
          color: $white;
          background: $red;
          border: none;
          text-transform: uppercase;
        }
      }
    }

    &-footer {
      .cell {
        display: flex;
        color: $blue;
        font-size: $font-size-tiniest;
        line-height: $line-height-large;
        height: auto;
        padding: 24px 0;
        text-align: center;
        border-left: 1px solid $gray-lightest;
        align-items: center;
        justify-content: center;

        strong {
          padding: 0 16px;
        }

        &:first-child {
          border-left: none;

          @include respond-to('small') {
            border-left: 1px solid $gray-lightest;
          }
        }

        &:last-child {
          flex: 3;
        }
      }
    }
  }

  .cell {
    display: flex;
    flex: 1;
    position: relative;
    color: $gray-darker;
    font-size: $font-size-tiniest;
    line-height: 20px;
    text-align: center;
    height: 56px;
    padding: 0 6px;
    align-items: center;
    justify-content: center;

    @include respond-to('small') {
      padding: 0 24px;
      border-left: 1px solid $gray-lightest;
    }

    @include respond-to('medium') {
      padding: 0 16px 0 24px;

      &.-highlighted {
        background: $gray-bg;
      }
    }

    &:first-child {
      min-width: 90px;
      max-width: 90px;
      margin-left: 18px;
      line-height: 56px;
      text-align: left;
      justify-content: flex-start;

      @include respond-to('small') {
        min-width: 130px;
        max-width: none;
        margin: 0;
      }
    }

    &:last-child {
      margin-right: 18px;

      @include respond-to('small') {
        margin: 0;
        border-right: 1px solid $gray-lightest;
      }
    }

    .tooltip {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 56px;
    }

    &-heading {
      display: flex;
      color: $blue-dark;
      font-size: $font-size-tiniest;
      line-height: 20px;
      width: 100%;
      height: 56px;
      align-items: center;
      justify-content: space-between;

      @include respond-to('medium') {
        font-size: $font-size-tiny;
      }
    }

    &-true:before,
    &-false:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 24px;
        height: 24px;
        background-size: cover;
        transform: translate(-50%, -50%);
    }

    &-true:before {
      background: url('#{$path-images}www/icon-checkmark.svg') no-repeat;
    }

    &-false:before {
      background: url('#{$path-images}www/icon-x.svg') no-repeat;

      @include respond-to('medium') {
        display: none;
      }
    }
  }
}
