table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table-features {
  width: 100%;

  th,
  td {
    color: var(--white);
    padding: 20px 40px;
  }

  th {
    font-weight: var(--font-weight-normal);
    background: #0a2264;
    text-align: left;

    @media (min-width: 768px) {
      width: 360px;
    }
  }

  td {
    background: var(--blue);
    text-align: center;
    vertical-align: middle;
  }

  thead {
    th, td {
      padding-top: 70px;
    }
  }

  tbody {
    tr:last-child {
      th, td {
        padding-bottom: 120px;
      }
    }
  }
}

.table-pricing {
  margin: 16px 0;
  grid-column: wrapper-start / wrapper-end;

  @media (min-width: 768px) {
    margin: 0;
  }

  .row {
    border-bottom: 1px solid var(--gray-lightest);
    margin: 0;
    flex-wrap: nowrap;

    &-heading {
      .cell {
        color: var(--blue);

        @media (min-width: 768px) {
          border-top: 1px solid var(--gray-lightest);
        }

        @media (min-width: 1024px) {
          display: flex;
          flex-direction: column;
          height: auto;
          padding: 32px 24px 56px;
        }

        &:first-child {
          justify-content: flex-end;
        }

        &-heading {
          @media (min-width: 1024px) {
            display: block;
            color: var(--blue);
            font-weight: var(--font-weight-bold);
            padding-bottom: 56px;
            height: auto;
            text-align: left;
          }
        }
      }

      .information {
        display: none;

        @media (min-width: 1024px) {
          display: flex;
          flex-direction: column;
          height: 100%;
        }
      }

      .name {
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-bold);

        @media (min-width: 1024px) {
          font-size: var(--font-size-medium);
          font-weight: var(--font-weight-normal);
          line-height: var(--line-height-largest);
        }
      }

      .pricing {
        margin: auto 0 0;
      }

      .price {
        position: relative;
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-large);
        margin-top: 24px;

        @media (min-width: 1366px) {
          font-size: var(--font-size-large);
        }
      }

      .description,
      .price-extra,
      .cell-heading-extra {
        font-size: var(--font-size-tiny);
        color: var(--gray-darker);
        line-height: var(--line-height-larger);
        font-weight: var(--font-weight-normal);
      }

      .price-extra {
        position: absolute;
        line-height: var(--line-height-normal);
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
      }

      .cta {
        padding: 36px 0 0;
      }
    }

    &-category {
      .cell:first-child {
        color: var(--blue);
        background: var(--gray-bg);
        font-size: var(--font-size-small);
        text-align: left;
        max-width: 100%;
        margin: 0;
        padding: 0 24px;
      }
    }

    &-discount {
      display: none;
      border: none;

      @media (min-width: 1024px) {
        display: flex;
      }

      &.-popular {
        strong {
          flex: 3;
          color: var(--white);
          background: var(--red);
          border: none;
          text-transform: uppercase;
        }

        .cell:last-child {
          flex: auto;
          background: none;
        }
      }

      .cell {
        padding: 0;
        height: 32px;
        line-height: 32px;
        border: none;

        &:last-child {
          flex: 3;
          color: var(--white);
          background: var(--red);
          border: none;
          text-transform: uppercase;
        }
      }
    }

    &-footer {
      .cell {
        display: flex;
        color: var(--blue);
        font-size: var(--font-size-tiniest);
        line-height: var(--line-height-large);
        height: auto;
        padding: 24px 0;
        text-align: center;
        border-left: 1px solid var(--gray-lightest);
        align-items: center;
        justify-content: center;

        strong {
          padding: 0 16px;
        }

        &:first-child {
          border-left: none;

          @media (min-width: 768px) {
            border-left: 1px solid var(--gray-lightest);
          }
        }

        &:last-child {
          flex: 3;
        }
      }
    }
  }

  .cell {
    display: flex;
    flex: 1;
    position: relative;
    color: var(--gray-darker);
    font-size: var(--font-size-tiniest);
    line-height: 20px;
    text-align: center;
    height: 56px;
    padding: 0 6px;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
      padding: 0 24px;
      border-left: 1px solid var(--gray-lightest);
    }

    @media (min-width: 1024px) {
      padding: 0 16px 0 24px;

      &.-highlighted {
        background: var(--gray-bg);
      }
    }

    &:first-child {
      min-width: 90px;
      max-width: 90px;
      margin-left: 18px;
      line-height: 56px;
      text-align: left;
      justify-content: flex-start;

      @media (min-width: 768px) {
        min-width: 130px;
        max-width: none;
        margin: 0;
      }
    }

    &:last-child {
      margin-right: 18px;

      @media (min-width: 768px) {
        margin: 0;
        border-right: 1px solid var(--gray-lightest);
      }
    }

    .tooltip {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 56px;
    }

    &-heading {
      display: flex;
      color: var(--blue)-dark;
      font-size: var(--font-size-tiniest);
      line-height: 20px;
      width: 100%;
      height: 56px;
      align-items: center;
      justify-content: space-between;

      @media (min-width: 1024px) {
        font-size: var(--font-size-tiny);
      }
    }

    &-true:before,
    &-false:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 24px;
        height: 24px;
        background-size: cover;
        transform: translate(-50%, -50%);
    }

    &-true:before {
      background: url('#{$path-images}www/icon-checkmark.svg') no-repeat;
    }

    &-false:before {
      background: url('#{$path-images}www/icon-x.svg') no-repeat;

      @media (min-width: 1024px) {
        display: none;
      }
    }
  }
}
