.tooltip {
  position: relative;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    height: 24px;
    width: 24px;
    background: url(https://static.xolo.io/common/images/ico-tooltip.svg) no-repeat;
  }

  .tooltip-text {
    position: absolute;
    color: var(--gray-darker);
    font-size: var(--font-size-tiniest);
    line-height: var(--line-height-large);
    background: var(--white);
    width: 200px;
    text-align: left;
    padding: 8px 16px;
    border: 1px solid var(--gray-lightest);
    border-radius: 8px;
    box-shadow: 0 8px 14px 0 var(--gray-bg);
    transition: opacity .25s;
    top: 100%;
    left: -88px;
    visibility: hidden;
    opacity: 0;
    z-index: 1;

    @media (min-width: 1024px) {
      top: -5px;
      left: 125%;

      &-bottom {
        top: 100%;
        left: -88px;
      }
    }
  }

  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }

  &-no-icon {
    &:before {
      display: none;
    }

    .tooltip-text {
      top: 100%;
      left: 0;
      right: 0;
    }
  }
}
