.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  &-reverse-mobile {
    flex-wrap: wrap-reverse;

    @media (min-width: 1024px) {
      flex-wrap: wrap;
    }
  }

  + .row {
    margin-top: 32px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin: 0 0 32px 0;

  @media (min-width: 768px) {
    flex: 1;
    margin: 0 32px 0 0;
  }

  &:last-child {
    margin: 0;
  }

  > p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &-end {
    align-items: center;

    @media (min-width: 1024px) {
      align-items: flex-end;
      margin: 0 50px 0 0;
    }
  }

  &-article {
    &-right,
    &-left {
      display: flex;
      width: 100%;
    }

    &-left {
      flex: 2;
    }

    &-right {
      display: none;

      @media (min-width: 1024px) {
        display: block;
        flex: 1;
        flex-direction: column;
      }
    }
  }

  &-start {
    align-items: center;

    @media (min-width: 1024px) {
      align-items: flex-start;
    }
  }

  @for $i from 1 to 16 {
    &-#{$i} {
      flex: 1 1 100%;

      @media (min-width: 768px) {
        flex: #{$i};
      }
    }
  }
}

.order-first-small {
  order: -1;

  @media (min-width: 768px) {
    order: 0;
  }
}


