.header {
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2001;
  transition: background .25s;

  @media (min-width: 1024px) {
    height: 100px;
    transition: none;
  }

  & > .grid {
    padding: 0;
    align-items: center;
    height: 100%;

    .header-logo-container {
      grid-column: start;
    }

    .header-nav-container {
      grid-column: wrapper-start / end;
    }
  }

  &-container {
    display: flex;
    position: relative;
    align-items: center;
    height: 100%;

    @media (min-width: 1440px) {
      max-width: 1400px;
      margin: 0 auto 0 0;
    }

    @media (min-width: 1600px) {
      max-width: 1440px;
      margin: 0 auto;
    }
  }

  &-dropdown-open {
    background: var(--blue);
  }

  &-absolute {
    position: absolute;
  }

  &-logo {
    position: absolute;
    width: 76px;
    height: 35px;
    background: url('#{$path-images}logo.svg') no-repeat;
    margin: 0;

    &:after {
      content: 'Formerly LeapIN';
      position: absolute;
      font-family: var(--font-primary);
      font-size: 10px;
      color: rgba(var(--white), .5);
      bottom: 0;
      z-index: -1;
      white-space: nowrap;
    }
  }

  &-logo-link {
    display: block;
    height: 100%;
    text-indent: -9999px;;
    overflow: hidden;
  }

  &-logo-container {
    display: flex;
    align-items: center;
    height: inherit;
    margin-left: 24px;

    @media (min-width: 1024px) {
      justify-content: center;
    }
  }

  &-nav-container {
    width: 100%;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease-in-out 0s;
  }

  &-signup {
    .header-logo-container {
      width: 100%;
    }

    li.user-account {
      display: flex;
      width: 100%;
      justify-content: flex-end;

      span.username {
        padding-left: 10px;
        line-height: 1.5;
      }
    }
  }

  &-nav-hidden {
    background: transparent;

    .header-nav-container {
      opacity: 0;
      visibility: hidden;
    }

    @media (min-width: 1024px) {
      .header-logo-container {
        opacity: 0;
        visibility: hidden;
      }
    }

    @media (min-width: 1440px) {
      .header-logo-container {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &-scrolling {
    box-shadow: 0 2px 5px rgba(147, 150, 158, 0.0532722), 0 10px 24px rgba(147, 150, 158, 0.06768);
  }
}

/* Theme: Light */

.header-theme-light,
.header-dropdown-open {
  @media (min-width: 1024px) {
    a:not(.btn) {
      color: var(--blue);

      &:hover,
      &:focus {
        color: rgba(var(--blue), .5);
      }
    }

    .btn {
      &-transparent {
        color: var(--blue);
        background: rgba(var(--blue), .1);

        &:hover,
        &:focus {
          color: var(--blue);
          background: rgba(var(--blue), .2);
        }
      }
    }
  }

  &.header-scrolling,
  &.header-dropdown-open,
  .nav-dropdown {
    background: var(--white);
  }

  .header-logo {
    background-image: url('#{$path-images}logo.svg');

    &:after {
      color: rgba(var(--blue), .2);
      z-index: 2;
    }
  }

  .nav-account:before {
  //  background-image: url('#{$path-images}www/ico-account-blue.svg');
  }

  .nav-item {
    &:hover,
    &:focus {
      .nav-item-link {
        color: rgba(var(--blue), .5);

        &:after {
          opacity: .6;
        }
      }
    }

    &.active {
      .nav-item-link {
        color: var(--blue);
        border-color: var(--blue);
      }
    }
  }

  .nav-list-links {
    .nav-item-link {
      &:after {
        border-color: var(--blue);
      }
    }
  }

  .nav-account {
    &:after {
      border-color: var(--blue);
    }
  }

  .nav-button-burger {
    span {
      background: var(--blue);
    }
  }

  .iconbox-circle,
  .iconbox-links,
  .iconbox-arrow {
    .iconbox-title {
      color: var(--blue);
    }

    .iconbox-text {
      color: rgba(var(--blue), .5);
    }
  }
}

.vertical-hr {
  display: none;

  @media (min-width: 768px) {
    display: block;
    border: none;
    border-left: 1px solid var(--gray-lightest);
    margin: 0 100px 0 0;
  }
}

.nav-media {
  a:hover {
    strong {
      color: var(--white);

      @media (min-width: 768px) {
        color: rgba(var(--blue), .5);
      }
    }
  }

  strong {
    display: block;
    margin-top: 20px;
    color: var(--white);

    @media (min-width: 1024px) {
      color: var(--blue);
      line-height: 1.7;
      max-width: 150px;
    }
  }
}
