.section {
  @media (min-width: 768px) {
    margin: 40px 0 0;
  }

  @media (min-width: 1024px) {
    margin: 80px 0 0;
  }

  @media (min-width: 1440px) {
    margin: 120px 0 0;
  }

  &:last-of-type:not(.section-footer-extra) {
    margin-bottom: 80px;

    @media (min-width: 1440px) {
      margin-bottom: 120px;
    }
  }

  &-blue {
    color: var(--white);
    background: var(--blue);

    p {
      color: var(--white);
    }
  }

  &-gray {
    color: var(--blue);
    background: var(--gray-lighter);
  }

  &-pink {
    color: var(--blue);
    background: var(--pink);
  }

  &-pink-dark {
    color: var(--blue);
    background: var(--pink)-dark;
  }

  &-red {
    color: var(--white);
    background: var(--red);

    p {
      color: var(--white);
    }
  }

  &-articles {

    @media (min-width: 768px) {
      margin-bottom: 40px;
    }

    @media (min-width: 1024px) {
      margin-bottom: 80px;
    }

    @media (min-width: 1440px) {
      margin-bottom: 120px;
    }

    .card-title {

      @media (min-width: 768px) {
        height: 150px;
      }

      @media (min-width: 1440px) {
        height: 100px;
      }
    }
  }
}

.section-header {
  padding-top: 60px;
  margin-top: 0;

  @media (min-width: 1024px) {
    padding-top: 100px;
  }


  .grid {
    padding: 0;
  }

  .grid-media {
    padding: 0;
    margin: auto 0 0;
  }

  .grid-text {
    @media (min-width: 768px) {
      padding: 0 0 40px;
    }
  }

  &-without-image {
    padding-top: 60px;
    margin-top: 0;

    @media (min-width: 1024px) {
      padding: 200px 0 108px;
    }

    p {
      color: var(--blue);
      font-size: var(--font-size-medium);
      line-height: 40px;
    }
  }

  .section-media {
    img {

      @media (min-width: 1024px) {
        height: 100%;
      }

      @media (min-width: 1440px) {
        height: auto;
      }
    }
  }
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: 1120px;
  margin: 0 auto;

  @media (min-width: 1440px) {
    max-width: 1280px;
    margin: 0 0 0 160px;
  }

  @media (min-width: 1440px) {
    margin: 0 auto 0 160px;
  }

  @media (min-width: 1600px) {
    margin: 0 auto;
    max-width: 1440px;
    justify-content: center;
  }
}

.section-body {
  width: 100%;
  padding: 40px 24px;

  @media (min-width: 1024px) {
    padding: 0 40px;
  }

  @media (min-width: 1440px) {
    padding: 0 100px 0 0;
  }

  @media (min-width: 1600px) {
    padding: 0;
  }

  > ul {
    color: var(--blue)-dark;
  }
}

.section-media {
  position: relative;
  height: 70vw;
  overflow: hidden;
  margin: 0;

  @media (min-width: 768px) {
    height: 100%;
    margin: 0 0 0 60px;
  }

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: initial;
  }

  @media (min-width: 1440px) {
    position: absolute;
    width: auto;
    height: auto;
    right: 0;
  }

  img {
    position: absolute;
    width: 100%;
    top: 60%;
    transform: translateY(-50%);

    @media (min-width: 768px) {
      right: 0;
      top: 50%;
    }

    @media (min-width: 1024px) {
      position: initial;
      width: 100%;
      transform: none;
    }
  }

  &-left {
    @media (min-width: 768px) {
      margin: 0 60px 0 0;
    }

    @media (min-width: 1440px) {
      left: -160px;
      right: auto;
    }

    @media (min-width: 1600px) {
      left: 0;
    }
  }

  &-title {
    position: absolute;
    color: var(--white);
    background: rgba(var(--blue), .8);
    padding: 20px;
    bottom: 0;
    right: 0;
    font-size: var(--font-size-tiny);

    @media (min-width: 768px) {
      font-size: var(--font-size-normal-plus);
    }

    @media (min-width: 1024px) {
      display: block;
      background: var(--blue);
      padding: 40px;
      bottom: -28px;
      min-width: 350px;
    }

    .tagline {
      margin-top: 30px;
    }

    &.-red {
      background-color: var(--red);

      &.-left {
        @media (min-width: 1024px) {
          font-size: var(--font-size-normal);
          bottom: 40px;
          left: -140px;
          right: auto;
          min-width: 200px;
          padding: 35px;
        }
      }

      &.-right {
        @media (min-width: 1024px) {
          font-size: var(--font-size-normal);
          bottom: 40px;
          right: -50px;
          left: auto;
          min-width: 200px;
          padding: 35px;
        }
      }
    }
  }
}

.section-cards {
  margin-top: 100px;
}

.section-footer-extra {
  padding: 30px 0 0;

  @media (min-width: 768px) {
    padding: 70px 0;
  }

  h2 {
    margin: 0;

    @media (min-width: 768px) {
      margin: 0 0 32px;
    }
  }

  .input-group {
    max-width: 472px;
  }

  .order-first-small {
    margin: 0 0 32px;
  }

  input {
    border-color: rgba(#082471, .1);
  }
}
